* { 
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
table {
  width: 100%;
  display: table;
  background-color: #fff;
}
th {
  text-align: left;
  color: #909399;
  font-weight: normal;
}
thead > tr {
  border-top: 0;
  > th {
    border-top: 0;
  }
}
td {
  color: #606266;
}
td,
th {
  background: #fff;
  border-left: 0;
  border-right: 0;
  padding: 15px;
}
html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}
body, html {
    height: 100%;
} 
a {
    text-decoration: none;
}
button {
    border-style: none;
    cursor: pointer;
}
ul, ol{
    list-style: none;
}
li{
    margin: 0.3em;
}
button, input{
    font: inherit;
}
:focus{
    outline: none;
}
.demo-container{
    margin-top: 20px;
}
